/* aside */
aside {
    /* caja con contenido */
    width: 90%;
    max-width: 250px;
    margin: 20px auto;
    box-sizing: border-box;
    /*colores, borde y fuente */
    background-color: #c0c0c0;
    border: 2px outset #ffffff;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 14px;
}