/* sections */
section {
    /* contenido de la sección */
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    /* vacío */
    padding: 0 0 20px 0;
    /* Colores, background y fuente */
    box-sizing: border-box;
    background-color: #c0c0c0;
    border: 2px outset #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

/* articles */
article {
    /* vacío */
    /* colores y borde */
    border: 2px inset #ffffff;
    box-sizing: border-box;
}
article span {
    font-size: 14px;
    color: #ffffff;
}