@import url(../header.css);
@import url(../section.css);
@import url(../footer.css);
@import url(../styles.css);

/* Mobile */
    
main {

    /* centrar contenedor */
    width: 90%;
    max-width: 1200px;
    margin: 15px auto;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contenedor-wizard, .opciones-paso {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pasos-armador {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.pasos-armador button:disabled {
    color: gray;
    cursor: not-allowed;
}

.pasos-armador button.paso-activo {
    background-color: #000080;
    color: #ffffff;
    border: 2px inset #ffffff;
}

.tarjeta-producto {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    
    padding: 10px;
    background-color: #c0c0c0;
    border: 2px outset #ffffff;
    box-sizing: border-box;

}

.tarjeta-producto:disabled {
    cursor: not-allowed;
    opacity: 0.45;
}

.tarjeta-producto.seleccionada {
    border: 2px inset #ffffff;
}

.botones-armador {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.resumen {
    padding: 10px;
    background-color: #c0c0c0;
    border: 2px outset #ffffff;
    box-sizing: border-box;
}

.lista-seleccion {
    list-style: none;
}

/* Tablet */

@media (min-width: 768px) {
    main {
        flex-direction: row;
    }

    .pasos-armador {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .opciones-paso {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tarjeta-producto {
        flex-direction: row;
        width: calc(50% - 5px);
    }
}
